<header>
  <nav>
    <div class="navGrid">
      <a routerLink="home" href="#" routerLinkActive="activeLink">
        <span class="material-icons">home</span>
        <span>Übersicht</span>
      </a>
      <a routerLink="data" href="#" routerLinkActive="activeLink">
        <span class="material-icons">edit</span>
        <span>Daten</span>
      </a>
      <a routerLink="analysis" href="#" routerLinkActive="activeLink">
        <span class="material-icons">show_chart</span>
        <span>Auswertungen</span>
      </a>
    </div>
  </nav>
</header>

<article>
  <router-outlet></router-outlet>
</article>
